{-# LANGUAGE OverloadedStrings #-}
module Config where

import Data.ByteString (ByteString)

databaseConnection :: ByteString
databaseConnection = "postgres://user@host/database"

slackToken :: ByteString
slackToken = "xoxp-***"
